<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title> Home </title>


    <link href="/cssFiles/css" rel="stylesheet" type="text/css">
    <link href="/cssFiles/toolkit.css" rel="stylesheet">
    <link href="./application.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
        background-color: #ECEFF1; 
        padding-top: 60px;
      }

      .wrap {
      flex: 1;
      height: 200vh;
      overflow-y: scroll;
      
      }

  </style>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });

            
    </script>
  
   
    
</head>




 <div class="container">

  <body>
      <div class="bs-example">
          <%- include header.ejs %>
      </div>

      </br>
      </br>

<!--customer deteis and 1st grid--------------------> 


    <div class="row-md-*">
     <div class="col-md-3" >
        <div class="mu sh sp abk">
            <div class="mv">
             <div class="mu blf abk">
            <div class="na" ></div>
            <div class="mv arx">
                <img class="blg" src=<%=user.image %> >
                             
              <h6 class="mw">
                <label class="control-label" style="color: #336666"><%= user.fname %> <%= user.lname %></label>
              </h6>

              <p class="abk"><%= user.description %></p>

              <ul class="blh">
                <li class="bli">
                  <a href="" class="bjx" data-toggle="modal">
                  Profile
                  <h6 class="aal"><a href="/profile" class="btn btn-default">Go to</a></h6>
                  </a>
                </li>
              </ul>
            </div>
          </div>          
        </div>

          <div class="mu sh sp abk">
            <div class="mv">
              <h6 class="abd">About </h6>
              <ul class="dc atd">
                <li><span class="glyphicon glyphicon-user"></span> Position <label class="control-label" style="color: #336666"><%= user.designation %></label>
                </li><li><span class="glyphicon glyphicon-phone"></span> Contact Number <label style="color: #336666"><%= user.contact %></label>
              </li></ul>
            </div>
          </div>      
        </div>
    </div>

<!--customer details and 1st grid end point--------------------> 

   <!-- add, post details and 2nd grid--------------------> 
        <div class="col-md-5">

             <div class="mu sh sp abk">
              <div class="mv">
                <div class="row-md-1">
                  <img class="newblg" src=<%=user.image %> >
                   <label class="control-label" style="color: #336666"><%= user.fname %> <%= user.lname %></label>
             
                </div>
                <div class="row-md-5">                    
                 <form action="/posting" role="form"  method="post">

                    <div class="form-group">
                          <textarea class="form-control" rows="3" name="postnews" placeholder="Type Here"></textarea>
                    </div>
                    <div>
                      <%
                        var now = new Date(); 
                        var datetime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); 
                        datetime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); 
                        %>
                      <input name="datetime" type="hidden" value= <%=datetime %> >
                      <input name="depid" type="hidden" value= <%=user.department_iddepartment %> >
                      <input name="msgtype" type="hidden" value="text" >
                    </div>
                    <div class="row">      
                    <div class="col-md-1 col-sm-2"><a href="#"  title="Link" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-link pull-left"></span></a></div>
                    <div class="col-md-1 col-sm-2" align="left"> <a href="#" data-toggle="tooltip" title="File"><span class="glyphicon glyphicon-folder-open"></span></a></div>              
                    <div class="col-md-10 col-sm-5" align="right">  <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-send"></span> Send  </button></div>
                    </div>

                  </form>
               </div>
              </div>
            </div>


               <!--grid list posts--------------------> 
              <div class="wrap">
                  <div class="mu sh sp abk"  >
                     <div class="pannel">

                        
                        <% 
                        
                          if(data.length){ 
                          for(var i = 0;i < data.length;i++) { 

                          %>
                        
                          <div class="mv ">



                            <img class="newblg" src=<%
                              for(var j = 0;j < employeelist.length;j++) {
                                if(data[i].employee_idemployee==employeelist[j].idemployee){
                              %>
                                <%=employeelist[j].image%> 
                              <%
                                }
                              }
                              %> >


                            <label class="control-label" style="color: #336666">
                              <%
                              for(var j = 0;j < employeelist.length;j++) {
                                if(data[i].employee_idemployee==employeelist[j].idemployee){
                              %>
                                <%=employeelist[j].fname%> <%=employeelist[j].lname%>
                              <%
                                }
                              }
                              %>
                            </label>
                          </div>
                        
                        
                          <div class="mv">
                            <%if(data[i].type=="text"){%>
                            <label><%=data[i].post%></label>
                            <% }else if(data[i].type=="url"){%>
                            <a href="<%=data[i].post%>" target="_blank"><%=data[i].post%></a>
                            <br/>
                              <object src="<%=data[i].post%>">
                                  <img src="/cssFiles/links.jpg" style="width: 100px; height: 100px">
                               </object>
                            <% }else {%>
                            <label><%=data[i].post%></label>
                            <% }%>
                          </div>
                       
                        
                          <div class="mv ">  <%=data[i].when%> <br/><br/>
                            <%
                            if(data[i].employee_idemployee==user.idemployee){
                              %>
                                <form action="/delpost" method="post">
                                  <div class="form-group">
                                  <input name="delid" type="hidden" value= <%=data[i].idposts %> >
                                  </div>
                                  <div class="form-group">
                                    <div class="buttons">

                                  <button type="submit" class="glyphicon glyphicon-trash" style="background:none!important;
    border:none; 
    padding:0!important;
    /*border is optional*/
    border-bottom:1px solid #444; ">Delete</button>
                                </div>
                                  </div>
                                </form>
                              <%
                            }
                            %>
                          </div>

                       
                        <hr/>
                        <% 
                        
                      }
                        }else{ %>
                       
                          <td colspan="3">No posts</td>
                        
                      <% 
                    }
                       %>

                    </div>
                 </div>
             </div>
        </div>
<div class="col-md-4" " >
  <!-- Announcements--> 
  <div class="row">
   <div class="mu sh sp abk">
      <div class="mv">
        <label class="control-label" style="color: #336666">Announcements</label>
        <ul class="dc atd">
          <li><span class="glyphicon glyphicon-bullhorn"></span> Announcement 1 <a href=""></a>
          </li>
          <li><span class="glyphicon glyphicon-bullhorn"></span> Announcement 2 <a href=""></a>
          </li>
          <li><span class="glyphicon glyphicon-bullhorn"></span> Announcement 3 <a href=""></a>
          </li>
          <li><span class="glyphicon glyphicon-bullhorn"></span> Announcement 4<a href=""></a>
          </li>
        </ul>
      </div>
    </div>  
  </div>
  <!-- calender eka change -->
  
    <div class="mu sh sp abk">
        <div class="mv">
            <div class="embed-responsive embed-responsive-4by3">
              <center>
           <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=cloudpartners.biz_mmfv7u05m6dpnrf2k1dcoe4kpg%40group.calendar.google.com&ctz=Asia/Colombo" style="border: 0"  frameborder="0" scrolling="no"></iframe></center>
        </div>
       </div>
     </div>
    <div class="mu sh sp abk">
        <div class="mv">
          <center>
            <div class="embed-responsive embed-responsive-4by3">
           <iframe src="https://calendar.google.com/calendar/embed?src=32sbb14ul1v9irvgu6nhd1gr14%40group.calendar.google.com&ctz=Asia/Colombo" style="border: 0" frameborder="0" scrolling="no"></iframe></center>
        </div>
      </div>
   
</div>

<!--  url pop up menu  -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Sharing URLs</h4>
              </div>
              <div class="modal-body">
               
                    <form action="/posting" role="form"  method="post">

                    <div class="form-group">
                          <textarea class="form-control" rows="3" name="postnews" placeholder="Past URL here"></textarea>
                    </div>
                    <div>
                      <%
                        var now = new Date(); 
                        var datetime = now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate(); 
                        datetime += ' '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds(); 
                        %>
                      <input name="datetime" type="hidden" value= <%=datetime %> >
                      <input name="depid" type="hidden" value= <%=user.department_iddepartment %> >
                      <input name="msgtype" type="hidden" value="url" >
                    </div>
                    <div class="row">              
                    <div class="col-md-10 col-sm-5" align="left">  <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-send"></span> Send  </button></div>
                    <button type="button" class="btn btn-defaultbtn pull-right" data-dismiss="modal">Close</button>
                    </div>

                    </form>
                         
              </div>
                            
                         
             </div>
          </div>
                      
        </div>







</div>
</div>


    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
 
 


</body>
</html>
