<!-- views/profile.ejs -->
<!doctype html>
<html lang="en" >
<head>
	<title>View</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="/cssFiles/css.css" rel="stylesheet" type="text/css">
  <link href="/cssFiles/toolkit.css" rel="stylesheet">
  <link href="/cssFiles/application.css" rel="stylesheet">
  <link href="/cssFiles/sticky-footer-navbar.css" rel="stylesheet">


	<script>
	  function resizeIframe(obj) 
    {
		obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
	  }
	</script>

  <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
        background-color: #ECEFF1;
        padding-bottom:60px;  
        padding-top: 60px;
      }

    </style>


  </head>

<%- include header.ejs %>

<body>



<div class="container">
 <div ng-app="myApp" ng-controller="myCtrl">

  

	<div class="row">

		

		<div class="row-md-*">
 		<div class="col-md-3" >

    	<div class="mu sh sp abk">
        <div class="mv">
        <div class="mu blf abk">
        <div class="na"></div>
        <div class="mv arx">
          <a >
            <img class="blg" src=<%=view.image %> >
          </a>

          <h6 class="mw">
             <label class="control-label" style="color: #336666"><%= view.fname %> <%= view.lname %> </label>
            </a>
          </h6>

          <p class="abk"><%= view.description %></p>

          <ul class="blh">
            <li class="bli">
              
            </li>
            <li class="bli">
              
            </li>
          </ul>
        </div>
      	</div>
          
        </div>

      <div class="mu sh sp abk">
        <div class="mv">
          <h6 class="abd">About </h6>
          <ul class="dc atd">
            <li><span class="glyphicon glyphicon-user"></span> Position <label style="color: #336666"><%= view.designation %></label>
            </li><li><span class="glyphicon glyphicon-phone"></span> Contact Number <label style="color: #336666"><%= view.contact %></label>
            </li></ul>
        </div>
      </div>

      
    	</div>


		</div>


           <div class="col-md-4">
            
                <div class="mu sh sp abk">
                <div class="mv">

                  <form >
                 <div class="form-group">
                    <label for="exampleInputPassword1">Employee Number</label><br>
                    <label class="control-label" style="color: #336666">EMP <%= view.login_idlogin %></label><!--datadase connecting point--> 
                  </div>

                  <div class="form-group" style="margin-top: 20px;" >
                    <label for="exampleInputEmail1">Email address</label><br>
                    <label class="control-label" style="color: #336666"><%= view.username %></label> <!--datadase connecting point-->
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">First Name</label><br>
                    <label class="control-label" style="color: #336666" ><%= view.fname %></label><!--datadase connecting point--> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label><br>
                    <label class="control-label" style="color: #336666"><%= view.lname %></label><!--datadase connecting point--> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">NIC Number</label><br>
                    <label class="control-label" style="color: #336666"><%= view.nic %></label><!--datadase connecting point--> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">EPF Number</label><br>
                    <label class="control-label" style="color: #336666"><%= view.EPF %></label><!--datadase connecting point--> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Birth Day</label><br>
                    <label class="control-label" style="color: #336666"><%= view.birthday %></label><!--datadase connecting point--> 
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Address</label><br>
                    <label class="control-label" style="color: #336666"><%= view.address %></label><!--datadase connecting point--> 
                  </div>
                  
                  <!-- Trigger the modal with a button -->
                  
                </form>
            </div>
            </div>
        </div>
<!-- Calender Section  -->
		
      <div class="col-md-5" " >
      <div class="mu sh sp abk">

          <div class="mv">
              <div class="embed-responsive embed-responsive-4by3">
                <center>
                <iframe src="https://calendar.google.com/calendar/embed?src=32sbb14ul1v9irvgu6nhd1gr14%40group.calendar.google.com&ctz=Asia/Colombo" style="border: 0" frameborder="0" scrolling="no"></iframe>
                </center>
          </div>
          </div>
     
      </div>
      </div>  


<!-- Calender Section -->

	</div>

</div>

<!-- -->

</div>
</div>
</div>
</div>
<br/>


</body>

</html>
